.op-container {
  position: relative;

  + .op-container {
    padding-top: 0.4em;
  }

  .op-layout {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    > :nth-child(2) {
      flex-grow: 4;
    }
  }

  .op-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    position: relative;
    min-width: 2.4em;
    max-width: 2.4em;
    width: 2.4em;
    height: 2.4em;
    margin-right: 0.3em;
    text-align: center;
    color: var(--color-bg);

    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      background: var(--color-highlight);
    }

    &:after {
      content: '';
      display: block;
      border-bottom: 1px solid var(--color-text);
      opacity: 0.2;
      position: absolute;
      width: 0.36em;
      left: -0.36em;
      top: 1.22em;
    }

    i {
      line-height: 1;
      font-size: 1.6em;
      display: block;
    }
  }

  .accounting-effects {
    text-align: right;
    padding-left: 0.5em;
    font-size: 1rem;
  }

  /*group brackets*/

  &:before {
    content: '';
    display: block;
    position: absolute;
    border-left: 1px solid var(--color-text);
    opacity: 0.2;
    height: 100%;
    width: 0.4em;
    left: -0.4em;
    top: 0;
  }

  &:last-child:before {
    height: 1.65em;
  }

  &:first-child:before {
    top: auto;
    bottom: 0;
    height: calc(100% - 1.25em);
  }

  &:only-child {
    &:before {
      display: none;
    }

    .op-icon:after {
      display: none;
    }
  }
}