@import '../styles.scss';

.notifications-container {
  $space-custom: 0.75*$space-standard;

  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  padding: 3px;
  max-width: Min(60vw, calc((100vw - #{$container-width}) / 2));
  z-index: 999;

  .notification-wrap {
    padding: 0;
    background: transparent;
    filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.1));

    &:not(:first-child) {
      margin-bottom: 0.375em;
    }

    &.grow {
      animation: .2s slideInHeight ease-in;
    }

    .notification {
      position: relative;
      display: flex;
      align-items: start;
      width: 100%;
      max-width: 30em;
      padding: $space-custom 3*$space-custom $space-custom $space-custom;
      transition: transform 0.3s ease-out;
      opacity: 0.9;

      &:hover {
        opacity: 1;
        .lifetime {
          animation-play-state: paused;
        }
      }
    
      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        z-index: -1;
        background: var(--color-alt-bg);
        clip-path: polygon(0.6rem 0, 100% 0, 100% 100%, calc(100% - 0.6rem) 100%, 0 100%, 0 1.6rem);
      }
    
      &:after {
        right: -0.6px;
        bottom: -0.6px;
        top: -0.6px;
        left: -0.6px;
        z-index: -2;
        background: var(--color-alt-border);
      }

      &.slideIn {
        animation: .3s slideIn ease-in-out;
      }

      &.slideOut {
        transform: translateX(150%);
        flex: 0;
      }

      > * {
        line-height: 2rem;
      }

      > .notification-icon {
        padding-top: 1px;
        padding-right: $space-micro;
      }

      > div {
        color: var(--color-text);
      }

      .delete {
        cursor: pointer;
        color: var(--color-text);
        position: absolute;
        top: $space-custom;
        right: $space-micro;
        padding-top: 1px;
      }

      .lifetime {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        max-width: 0;
        height: 2px;
        animation-name: timeToClose;
        animation-duration: 10s;
        animation-timing-function: linear;
      }
    }

    &.notification-info .notification {
      .notification-icon.icon-info {
        color: var(--color-highlight);
      }
      .lifetime {
        background-color: var(--color-highlight);
      }
    }

    &.notification-success .notification {
      &:before {
        background: var(--color-success-bg);
      }
      .notification-icon.icon-ok {
        color: var(--color-success);
      }
      .lifetime {
        background-color: var(--color-success);
      }
    }

    &.notification-warning .notification {
      &:before {
        background: var(--color-warning-bg);
      }
      .notification-icon.icon-warning {
        color: var(--color-warning);
      }
      .lifetime {
        background-color: var(--color-warning);
      }
    }

    &.notification-error .notification {
      &:before {
        background: var(--color-alert-bg);
      }
      .notification-icon.icon-warning {
        color: var(--color-alert);
      }
      .lifetime {
        background-color: var(--color-alert);
      }
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideInHeight {
  from {
    max-height: 0;
  }
  to {
    max-height: auto;
  }
}

@keyframes timeToClose {
  from {
    max-width: 100%;
  }
  to {
    max-width: 0;
  }
}