@font-face {
  font-family: 'ClearSans';
  src: url('/fonts/clearsans-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans';
  src: url('/fonts/clearsans-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}