.swap-slippage {
  align-items: center;

  input {
    border: none;
    text-align: right;
    font-size: 1em;
  }

  & > :first-child {
    width: 50%
  }

  & > :nth-child(2) {
    width: calc(100% - 50% - 4em);
    justify-self: stretch;
  }

  & > :last-child {
    white-space: nowrap;
    width: 4em;

    input {
      text-align: right;
      padding-right: 0;
      border: none;
      margin: 0;
      width: 3em;
      font-size: 0.85*$font-size-base;
    }
  }
}