.swap-band {
  align-items: center;
  min-height: 1.6em;

  > .text-tiny {
    width: 45%;
  }

  .switch {
    text-align: center;
    font-size: 0.8em;
    padding: 0.8em;

    i, a {
      display: block;
      border: 1px solid;
      width: 2em;
      height: 2em;
      padding: 0;
      line-height: 1.95em;
      border-radius: 50%;
      transform: rotate(90deg);
    }
  }
}