.address-list-block {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 10em;
  overflow-y: auto;
  background: var(--color-bg);
  border: 1px solid var(--color-contrast-border);
  border-top: none;
  box-shadow: 2px 3px 6px -1px rgba(0, 0, 0, 0.3);
  z-index: 1;

  .account-address {
    width: 100%;
    padding: $space-nano $space-nano;
    cursor: pointer;
    display: block;
    white-space: nowrap;

    &:not(.add-address):hover {
      background: var(--color-alt-bg)
    }

    &.add-address:hover {
      color: var(--color-highlight);
    }
  }

  .add-name-address {
    width: 100%;
    padding: $space-nano;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.destination:focus + .address-list-block,
.address-list-block.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 2em;
}