*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  @include scrollbars(6px, $color-dimmed);
}

html {
  font-size: 62.5%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: $color-text;
  background: $color-bg;
  font-family: $font-face-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $font-line-height-base;
  height: 100%;
  overflow-x: hidden;
  min-width: 320px;
  margin: 0;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: $color-alt-bg;
  color: $color-text;
}

.page-container {
  min-height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
  @media (min-width: $responsive-mobile-browser-width) {
    justify-content: center;
  }

  > .no-center {
    margin-bottom: auto;
  }
}