*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: $color-text;
  background: $color-bg;
  font-family: $font-face-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $font-line-height-base;
  height: 100%;
  overflow-x: hidden;
  min-width: 320px;
  margin: 0;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

@include scrollbars(8px, $color-dimmed);

::selection {
  background-color: $color-alt-bg;
  color: $color-text;
}

.page-container {
  min-height: calc(100vh - 4em);
}