.color-primary {
  color: $color-primary;
}

.color-success {
  color: $color-success;
}

.color-warning {
  color: $color-warning;
}

.color-danger {
  color: $color-alert;
}

.color-alt-bg{
  color: $color-alt-bg;
}