ul {
  list-style-type: none;
  padding: 0;
  margin: 0.5em 0;

  &.list {
    list-style-type: disc;
    padding-left: 1em;
  }
}

dl {
  display: block;
  margin: 0;

  dt {
    color: $color-dimmed;
    font-weight: normal;
    display: inline;
  }

  dd {
    padding-left: .3em;
    margin-left: 0;
    font-weight: 400;
    display: inline;

    &:after {
      content: '';
      display: block;

    }

    &:last-child:after {
      content: none;
    }
  }
}