b,
strong {
  font-weight: bold;
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  font-family: $font-face-header;
  font-weight: 300;
  letter-spacing: $header-letter-spacing;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.25;
}

h3 {
  font-size: 2rem;
  line-height: 1.3;
}

h4 {
  font-size: 1.8rem;
  line-height: 1.35;
}

code {
  font-family: $font-face-mono;
}

p {
  text-align: justify;
}

img {
  max-width: 100%;
}

hr {
  border: none;
  font-size: $font-size-base;
  margin: 15px auto;
  width: 100%;
  max-width: 90vw;
  height: 0.7px;
  background: linear-gradient(to right, transparentize($color-highlight, 1) 0%, $color-highlight 15%, $color-highlight 85%, transparentize($color-highlight, 1) 100%);

  &.double-space {
    margin-bottom: 4rem;
  }

  &[title] {
    display: flex;
    justify-content: center;
    overflow: visible;
    margin: 3rem 0;

    &:after {
      content: attr(title);
      display: table;
      background-color: $color-bg;
      margin: -0.8em 0;
      padding: 0 0.5em;
      @extend .text-center;
      @extend .dimmed;
      @extend .text-small;
    }
  }
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-small {
  font-size: 0.88*$font-size-base;
}

.text-micro {
  font-size: 0.75*$font-size-base;
}

.text-condensed {
  letter-spacing: -.05em;
}

.nowrap {
  white-space: nowrap;
}

.word-break {
  word-break: break-all;
}

.text-overflow {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.vtop {
  vertical-align: top;
}

.dimmed,
.label {
  color: $color-dimmed;
}

.fa.fa-space {
  width: 1.8em;
  text-align: center;
}

.details {
  color: $color-dimmed;
  font-size: 0.9em;
}

.error,
.alert {
  color: $color-alert !important;
  background: fade_out($color-alert, 0.8) !important;
  padding: 0.5em 1em;
}

.relative {
  position: relative;
}
