html {
    width: 440px;
    height: 550px;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: hidden;
    width: 440px;
    margin: 0;
    padding: 0;
}

body > iframe {
    width: 440px;
    height: 550px;
}