.dd-wrapper {
  $padding-side: 0.7em;

  display: inline-block;
  position: relative;
  padding-right: 0.3em;

  .dd-toggle {
    $toggle-size: 0.4em;

    display: inline-block;
    width: $toggle-size;
    height: $toggle-size;
    border: 1px solid currentColor;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotateZ(135deg) translate($toggle-size*0.4, -$toggle-size*0.4);
    transform-origin: top right;
    transition: transform 0.2s;

    &.visible {
      transform: rotateZ(135deg) scale(-1) translate($toggle-size*0.2, -$toggle-size*0.2);
    }
  }

  .dd-header {
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;

    &.button {
      color: $color-bg;
    }
  }

  .button .dd-toggle {
    margin-left: 0.2em;
  }

  .dd-list {
    position: absolute;
    z-index: 10;
    display: none;
    text-align: left;
    font-weight: $font-weight-base;
    line-height: $font-line-height-base;
    font-size: $font-size-base;
    font-family: $font-face-primary;
    color: $color-primary;
    left: -$padding-side;
    top: calc(100% - 0.4em);
    min-width: 100%;
    background: #FFF;
    border: 1px solid #BDBFC0;
    border-radius: $border-radius-input;
    box-shadow: 2px 3px 6px -1px rgba(0, 0, 0, .3);
    text-transform: none;

    &.visible {
      display: block;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -2*$space-block;
      left: 0;
      width: 1px;
      height: 1px;
    }
  }

  &:hover {
    a {
      color: $color-highlight;
    }
  }

  &.disabled {
    .dd-toggle {
      border-top-color: $color-contrast-border;
      border-right-color: $color-contrast-border;
    }

    .dd-list {
      color: $color-contrast-border;
    }
  }

  .dd-list-item {
    cursor: pointer;
    padding: 0;
    margin: 0;

    a {
      padding: .4em $padding-side;
      display: block;
      color: inherit;
      white-space: nowrap;

      &:hover {
        background: $color-alt-bg
      }

      &.selected {
        cursor: default;
        color: $color-text;
        background: $color-alt-bg;
      }
    }
  }

  hr {
    margin: 5px auto
  }
}