.logo, .logo:hover {
  display: block;
  padding-top: 2rem;
  margin-bottom: -6.4rem;
  text-align: right;

  img {
    height: 2rem;
    position: relative;
    z-index: 1;
    background-color: transparent;
  }
}