.logo, .logo:hover {
  display: block;
  padding-top: 1em;
  margin-bottom: -6rem;
  text-align: right;

  img {
    height: 2.2rem;
    position: relative;
    z-index: 1;
    background-color: transparent;
  }
}