.stacked-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  margin-right: 0.3em;

  > .main {
    font-size: 1.1em;
  }

  > .sub {
    position: absolute;
    font-size: 0.9em;
    right: -0.5em;
    bottom: -0.2em;
    text-shadow: -1px -1px 0 #fff;
  }
}