.notification-counter {
  position: absolute;
  margin-top: 0.6em;
  margin-left: -0.3em;
  display: inline-block;
  font-size: 0.7em;
  line-height: 1.2;
  color: var(--color-background);
  opacity: 0.7;
}