.account-balance {
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  line-height: 1;

  > * {
    display: block;
    font-size: 0.85em;
    width: 45%;
  }

  .asset-icon {
    display: block;
    width: 2.4em;
    height: 2.4em;
    margin-right: 0.5em;
    background: transparent center center no-repeat;
    background-size: contain;
    position: relative;

    &.icon {
      width: 1.32em;
      height: 1em;
      font-size: 2em;
      text-align: left;
      margin: 0 0 0 -0.08em;
    }

    .claimable-status {
      position: absolute;
      font-size: 1.8rem;
      bottom: -0.4em;
      left: 1em;
      color: var(--color-highlight);
      text-shadow: 0 0 1px var(--color-bg);
    }
  }

  .asset-issuer {
    color: var(--color-dimmed);
    white-space: nowrap;
  }

  .asset-amount {
    font-size: 1.3em;
    text-align: right;
    font-family: $font-face-header;
  }

  .estimated-amount {
    text-align: right;
    font-family: $font-face-header;
  }

  .asset-code {
    font-size: 1.3em;
    font-family: $font-face-header;
  }

  .account-key {
    white-space: nowrap;
  }

  &.liquidity-pool {
    &:before {
      content: '';
      border: 1px solid var(--color-text);
      border-right: none;
      opacity: 0.2;
      display: block;
      height: 2.2em;
      width: 0.2em;
      position: relative;
      left: -0.2em;
    }

    > div:nth-child(2) {
      font-size: 0.7em;
    }
  }
}

.account-balance-actions {
  visibility: hidden;
  font-size: 0.85em;
  text-align: right;
}

.account-balance-container {
  padding-top: 0.4em;

  .flare {
    margin-top: 0.2em;
  }

  &:hover {
    .account-balance-actions {
      visibility: visible;
    }
  }
}