.lp-deposit {
  .pool-add {
    text-align: center;
    font-size: 0.8em;
    padding: 0.8em;

    a {
      display: block;
      border: 1px solid;
      width: 2em;
      height: 2em;
      padding: 0;
      line-height: 1.95em;
      border-radius: 50%;
    }
  }
}