@import '~@stellar-expert/ui-framework/index.scss';

$container-width: 60rem;

.container:not(.wide) {
  max-width: $container-width;
}

.page-container {
  min-height: auto;
  display: flex;
  flex-direction: column;

  > .no-center {
    margin-bottom: auto;
  }
}
