.info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4vh 0;
  position: relative;
  min-height: 20em;
  height: 30vh;
  width: 100%;
  color: $color-bg;

  @media (max-width: $responsive-mobile-browser-width) {
    padding: 0.5em;
    text-align: center;
  }

  &:before {
    content: '';
    display: block;
    $feature-bg-color: transparentize($color-highlight, 0.2);
    background: $feature-bg-color;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    height: 100%;
    margin: 0 -10vw;
    transform: skew(-20deg);
  }

  .feature-icon {
    width: 128px;
    height: 128px;
    display: block;
    float: left;
    filter: invert(1);
    margin-right: 1.5em;
    @media (max-width: $responsive-mobile-browser-width) {
      float: none;
      margin: auto;
      max-width: 30vw;
    }
  }

  h2 {
    margin-top: 0;
  }
}

.intro-cta {
  > * {
    display: inline-block;
    vertical-align: top;
    @media all and (max-width: $responsive-mobile-browser-width) {
      display: block;
    }
  }


  > :last-child {
    padding-top: 2.5em;

    @media all and (max-width: $responsive-mobile-browser-width) {
      padding-top: 0;
    }
  }

  .v-slash {
    position: relative;
    padding: 1.6em 0;

    @media all and (max-width: $responsive-mobile-browser-width) {
      display: none;
    }

    > * {
      color: $color-highlight;
      background-color: $color-bg;
      padding: 0 0.25em 0.15em;
      position: relative;
    }

    &:before {
      content: '';
      display: block;
      border-left: 1px solid $color-highlight;
      width: 1px;
      position: absolute;
      height: 100%;
      top: 0;
      left: 50%;
      transform: rotate(20deg);
    }
  }
}