.asset-selector {
  position: absolute !important;
  right: 0.5em;
  top: 0.5em;

  .dd-header {
    font-size: 0.85em;

    .asset-issuer {
      display: none;
    }
  }

  .dd-list-header {
    min-width: 16em;

    h3 {
      margin-top: 0;
    }

    .icon-search {
      position: absolute;
      right: 0.3em;
      top: 0.5em;
      opacity: 0.5;
      font-size: $font-size-base;
    }

    input {
      padding-left: 1.5em;
      margin-bottom: 0;

      &:not(:placeholder-shown) + .icon-search {
        display: none;
      }
    }
  }


}